.contate-container {
    padding: 90px 52px;
}
.contate-container h2 {
    font-size: 36px;
    letter-spacing: 0.25px;
    font-weight: normal;
    color: var(--cor-p8);
}
.contate-container p {
    color: var(--cor-c8);
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: normal;
    padding-bottom: 32px;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}
.dropdown * {
    box-sizing: border-box;
    max-width: 400px;
}
.select {
    background-color: var(--cor-p7);
    color: var(--cor-c1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px var(--cor-p6);
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.select-clicked {
    border: 2px var(--cor-p8) solid;
}
.select:hover {
    background-color:var(--cor-p9);
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--cor-c1);
    transform: .3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: var(--cor-c2);
    border: 1pix solid var(--cor-p7);
    box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: var(--cor-p9);
    position: absolute;
    top: 3em;
    left: 300px;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu.li:hover {
    background-color: var(--cor-p8);
}
.active {
    background-color: var(--cor-p6);
}
.menu-open {
    display: block;
    opacity: 1;
}
.form-cont-padrao  {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 32px;
}
.opcoesContrate {
    margin: 0px !important;
}
.form-cont-padrao input {
    border: 1px solid var(--cor-p7);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
    height: 45px;
    padding-left: 12px;
}
.form-cont-padrao label {
    padding-top: 34px;
    font-size: 17px;
    letter-spacing: .15px;
    color: var(--cor-p9);
}

.inputsRadio {
    display: flex;
    flex-direction: row;
}
.hidden {
    display: none !important;
}
.hidden2 {
    display: none;
}


input[type ='radio'] {
    display: none;
}
input[type ='radio'] + label {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
}
input[type ='radio']:checked + label {
    background-color: var(--cor-p8);
    color: #fff;
}
.askingInput {
    font-weight: bold;
    margin-top: 22px;
}
.btnEnviarInfo {
    margin-top: 32px;
}
.contate-form {
    background-color: var(--cor-c2);
    padding: 22px 0px;
    margin-bottom: 82px;
}
/*mobile*/ 
@media(max-width: 600px) {
    .contate-container {
        padding: 0px;
        margin: 14px;
        padding-top: 32px;
    }
    .menu {
        left: 165px;
    }
}